.lasric__form{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;

    form{
        display: flex;
        flex-direction: column;
        width: 800px;
        gap: 20px;

        input, textarea, label{
            margin: 0;
            padding: 0;
        }

        .submitButton{
            width: 100%;
            background-color: #00B44E;
            padding: 17px;
            border-radius: 5px;
            text-align: center;
            font-size: 14px;
            font-weight: 600;
            color: #fff;
        }

        .inputZone{

            label{
                font-size: 13px;
                font-weight: 500;
                margin-bottom: 10px;
                font-weight: 600;
            }

            input, textarea{ 
                padding: 16px 15px;
                border: none;
                outline: none;
                background-color: #fafafa;
                background-color: #fff;
                border: 1px solid #eee;
                border: 1px solid #e1e1e1;
                width: 100%;
                border-radius: 5px;
                font-size: 13px;
                font-weight: 500;

                &:focus{
                    border-color: #00B44E;
                }
            }
              
        }

        .diff{

            display: flex;
            width: 100%;
            justify-content: space-between;

            .inputZone{

                width: calc(50% - 10px);
                  
            }

        }
    }

}

.contact{
    border: none;
}


@media(max-width : 850px){

    .lasric__form{

        form{
            width: 100%;
        }

    }

}

@media(max-width : 500px){

    .lasric__form{

        margin-top: 40px;

        form{

            width: 100%;
            gap: 15px;

            .diff{

                flex-direction: column;
                justify-content: space-between;
                gap: 15px;
    
                .inputZone{
    
                    width: 100%;
                      
                }
    
            }

        }

    }

}